{% extends "base.html" %}
{% block body %}
  {{ super() }}
<div id="home">
  <h1>{{ SITENAME }}</h1>
    {% for category, articles in categories|sort %}
        <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }}) |
    {% endfor %}
  <hr />

  <ol class="posts">
    {% for article in articles %}
      <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> &raquo; <i><span>{{ article.date | strftime('%Y-%m-%d') }}</span></i></li>
    {% endfor %}
  </ol>
  </div><!-- end #home -->
{% endblock %}  