---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  
  {% if page.video %}
  <!-- Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ableplayer.github.io/ableplayer/thirdparty/js.cookie.js"></script>

  <!-- Able Player CSS -->
  <link rel="stylesheet" href="https://ableplayer.github.io/ableplayer/build/ableplayer.min.css" type="text/css"/>

  <!-- Able Player JavaScript -->
  <script src="https://ableplayer.github.io/ableplayer/build/ableplayer.js"></script>
  {% endif %}
  
  {% if page.categories %}
  <span class="categories">
    &raquo; {% for category in page.categories %}<a href="{{site.baseurl}}/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
  </span>
  {% endif %}

  {{ content }}
  {% if page.video %}
  <div id="transcript">
  <div class="wrapper">
    <video id="video1" data-able-player preload="auto" width="240" height="180" poster="/public/img/business2.0_is_rendanheyi.svg" data-youtube-id="5pI3IN6VDA8" data-transcript-div="transcript" playsinline>
    <track kind="captions" src="https://raw.githubusercontent.com/french-touch/frenchtouch/master/public/webvtt/Rendanheyi_by_ZhangRuimin.vtt"/>
    <track kind="chapters" src="https://raw.githubusercontent.com/french-touch/frenchtouch/master/public/webvtt/Rendanheyi_by_ZhangRuimin_chapters.vtt"/>
  </video>
  </div>
  {% endif %}
</div>

<div class="author">
    <h3 align="right">
    <small>{{ page.author }}</small>
    </h3>
</div>
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
